In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:\\Users\\91932\\OneDrive\\Documents\\gender_classification_v7.csv")

In [3]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [4]:
data.drop(['forehead_width_cm','forehead_height_cm','distance_nose_to_lip_long'],axis=1,inplace=True)

In [5]:
data.head()

   long_hair  nose_wide  nose_long  lips_thin  gender
0          1          1          0          1    Male
1          0          0          0          1  Female
2          0          1          1          1    Male
3          0          0          1          1    Male
4          1          0          0          0  Female

In [6]:
data['gender'].replace({'Male':0,'Female':1},inplace=True)

In [7]:
data['gender'].head()

0    0
1    1
2    0
3    0
4    1
Name: gender, dtype: int64

In [8]:
data.tail()

      long_hair  nose_wide  nose_long  lips_thin  gender
4996          1          0          0          0       1
4997          1          0          0          0       1
4998          1          0          0          0       1
4999          1          0          0          0       1
5000          1          1          1          1       0

In [9]:
data.shape

(5001, 5)

In [10]:
x=data[['long_hair','nose_wide','nose_long','lips_thin']]
y=data[['gender']]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
x_test.head()

      long_hair  nose_wide  nose_long  lips_thin
420           1          0          1          1
4626          0          0          0          0
3173          1          0          0          0
4082          1          1          1          0
2279          1          1          1          1

In [14]:
x_test.head()

      long_hair  nose_wide  nose_long  lips_thin
420           1          0          1          1
4626          0          0          0          0
3173          1          0          0          0
4082          1          1          1          0
2279          1          1          1          1

In [15]:
y_train.head()

      gender
4164       0
4096       1
4072       1
2215       0
2306       0

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
lr=LogisticRegression()

In [18]:
lr.fit (x_train,y_train)

C:\Users\91932\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [19]:
lr.predict(x_test)

array([0, 1, 1, ..., 1, 0, 0], dtype=int64)

In [20]:
lr.score(x_test,y_test)

0.9600399600399601

In [21]:
p=lr.predict([[1,1,1,1]])

C:\Users\91932\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [22]:
if p==0:
    print('male')
    
elif p==1:
    print('Female')

male

In [23]:
 p

array([0], dtype=int64)